html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 80px;

}
.wrapper{
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(50,50,50);
  line-height: 60px;
  border-top: 1px solid rgb(8,8,8);
}
.result_view{
  margin-top: 3px;
}

.win_inform{
  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;
}

.hrf{
  margin-left: 10px;
  height: 24px;
  width: 25px;
}
.hrf_nmrg{
  height: 24px;
  width: 25px;
  margin: 0px;
  padding: 0px;
}
.img-btn{
  border: none;
  background: none;
  outline: none;
  font-weight: bold;

}
.img-btn:hover{
  text-decoration: underline;
}

.im-add{
   background: url(../images/icon_add.png) center no-repeat;
   height: 25px; width: 25px;
   padding-left: 40px;
}
.im-open{
   background: url(../images/icon_open.png) center no-repeat;
   height: 25px; width: 25px;
   padding-left: 40px;
}
.im-edit{
   background: url(../images/icon_add.png) center no-repeat;
   height: 25px; width: 25px;

}
.im-delete{
   background: url(../images/icon_delete.png) center no-repeat;
   height: 25px; width: 25px;
}

.test{
  height: 40px;
  color: black;
  font-weight: bold;
  padding: 5px 30px;
     background: url(../images/icon_add.png) left no-repeat;
}

.control_time_selector{
  float: left;
  border: 1px solid gray;
  cursor: pointer;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 3px;
}
.control_time_selector_selected{
  float: left;
  border: 1px solid gray;
  cursor: pointer;
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgb(140,140,140);
  border-radius: 3px;
}

.control_time_selector:hover{
  float: left;
  border: 1px solid gray;
  cursor: pointer;
  padding: 0 5px;
  background-color: rgb(200,200,200);
}

.res_value_link{
  margin: 0;
  padding: 0;
  float: left;
  cursor: default;
  border: 2px solid rgb(59,187,210);
  background-color: rgba(59,187,210, 0.3);
  padding: 0px 5px;
  border-radius: 5px;
  transition: 0.3;
}

.res_value_link:hover{
  border: 2px solid rgb(67,210,60);
  background-color: rgba(67,210,60, 0.3);
  transition: 0.3;
}

.find_popup_disp{
  position: absolute;
  transition: 0.5s;
  display: block;
  height: 300px;
  width: 150px;
  z-index: 10;
  box-shadow: 0 0 10px black;
}

.find_popup_dnone{
  position: absolute;
  left: -9999px;
  display: none;
  height: 10px;
  width: 10px;
}

.popup_btn_close{
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: -10px;
  background: url(../images/icon_close2.png) no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
.popup_header{
  color: gray;
  margin-left: 20px;
  font-size: 10pt;
  cursor: default;
}
.btn_popup_close{
  cursor: pointer;
  transition: 0.3s;
}
.btn_popup_close:hover{
  color: red;
  transition: 0.3s;
}

.message_box_disp_1_1{
  position: fixed;
  height: 100px;
  width: 300px;
  bottom: 30px;
  right: 40px;
  line-height: 100px;
  text-align: center;
  background-color: gray;
  border-radius: 3px;
  border: 1px solid black;
  z-index: 999;
}

    .b-panel{
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ddd;
      position: relative;
    }
    .msg-panel{
      padding: 5px 0px 5px 5px;
    }
    .msg-header{
      color: gray;
    }
    .msg-body{
      padding: 5px;
    }
    .inf{
      margin-right: 5px;
    }
    .msg-main{
      margin-bottom: 0px; 
    }
    .msg-footer{
      padding: 0px 10px 0px 10px;
      margin-bottom: 15px;
    }
    .msg-add-open{
      cursor: pointer;

    }
    .msg-add-open:hover{
      color: black;
    }
    .op-msg-filters{
      position: absolute;
      top: 34px;
      right: 110px;
      border: 1px solid black;
      height: 130px; width: 200px;
      background-color: white;
    }
    .cancelll{
      cursor: default;
    }
    .waiting{
      cursor: pointer;
    }
    .waiting:hover{
      background-color: rgb(63,72,204);
    }
    .op-msg-status-div{
      position: absolute;
      width: 80px;
      right: 20px;
    }